<div class="col-sm-4 episode-item">
  <a href="<%- url_for(post.path) %>" class="episode-link">
    <div class="caption">
      <div class="caption-content">
        <%= post.title %> from <%= post.by %>
      </div>
    </div>
    <img src="<%= post.image %>" class="img-responsive" alt="">
  </a>
</div>