<div class="col-sm-4 episode-item">
  <a href="<%- url_for(review.path) %>" class="episode-link">
    <div class="caption">
      <div class="caption-content">
        <%= review.title %> from <%= review.by %>
      </div>
    </div>
    <img src="<%= review.image %>" class="img-responsive" alt="">
  </a>
</div>