<section id="episodes" class="episodes" style="padding-top:40px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>All Episodes</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <% site.posts.find({type:"episode"}).limit(100).each(function(episode){ %>
          <%- partial('_partial/episode/preview', {episode: episode}) %>
      <%  }) %>
    </div>
  </div>
</section>