<div class="col-sm-4 episode-item">
  <a href="<%- url_for(episode.path) %>"><div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading" style="height:60px; text-align:center; font-size:18px;"><%= episode.title %></div>
    <div class="panel-body">
      <img src="<%= '/' + episode.path + episode.image %>" class="img-responsive" alt="">
      <% episode.tags.each(function(tag){ %>
        <span class="label label-danger" style="float:right; margin-left:4px; top:5px; position:relative;"><%= tag.name %></span>
      <% }) %>
    </div>
  </div></a>
</div>