<div class="col-lg-3 episodeSideBar">
    <%- partial('resources', {resources: episode.resources}) %>
    <%- partial('supplies', {supplies: episode.supplies}) %>
    <%- partial('sharing', {post: episode}) %>
</div>