<div class="col-sm-4 episode-item">
  <a href="<%- url_for(post.path) %>" class="episode-link">
    <div class="caption">
      <div class="caption-content">
        <p><%= post.title %></p>
        <i class="fa fa-play fa"></i>
      </div>
    </div>
    <img src="<%= '/' + post.path + post.image %>" class="img-responsive" alt="">
  </a>
</div>