<!-- Header -->
<header class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name" style="text-transform:none; font-family: 'Arial'; font-size:100px;"><span class="main-micro"> 
          µ</span>Casts</span>
          <span class="skills">Helping µ hack the Internet of Things.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="episodes" class="episodes">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Latest Episodes</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <% get_posts({count: 6, query: {type:"episode"}}).each(function(post){ %>
          <%- partial('episode-preview', {post: post}) %>
      <% }) %>
    </div>
    <div class="row" style="margin-top:15px;">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="/episodes" class="btn btn-lg btn-info">
          <i class="fa fa-desktop"></i> &nbsp;Explore All Episodes
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Review Section -->
<section class="success" id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Reviews</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Unbiased reviews and product tests. See the product in action and get my honest take on how well it lived up to its claims. I'm happy to answer any questions you have and give you the dirt before you spend your money.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <iframe width="560" height="315" src="http://www.youtube.com/embed/3w0yVlRWKVc" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/reviews" class="btn btn-lg btn-outline">
                    <i class="fa fa-thumbs-o-up"></i> &nbsp;All Reviews
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="tips">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Tips</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>These are just tips and tricks that I pick up along the way. If it helps me I'll share it with you. This is an example Vine I created showing how to break in a tight breadboard with a male header.</p>
            </div>
            <div class="col-lg-4">
                <iframe class="vine-embed" src="https://vine.co/v/MmxpprQ1Wlg/embed/simple" width="320" height="320" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="row" style="margin-top:15px;">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/tips" class="btn btn-lg btn-info">
                    <i class="fa fa-gittip"></i> &nbsp;More Tips
                </a>
            </div>
        </div>
    </div>
</section>