<!-- Navigation -->
<% 
var episodeLink = "/episodes";
var reviewLink = "/reviews";
var tipLink = "/tips";
var homeLink = "/";

switch(page.path){
  case "episodes/index.html":
    episodeLink = "#page-top";
    break;
  case "tips/index.html":
    tipLink = "#page-top";
    break;
  case "reviews/index.html":
    reviewLink = "#page-top";
    break;
  case "":
    homeLink = "#page-top";
    episodeLink = "#episodes";
    reviewLink = "#reviews";
    tipLink = "#tips";
}

%>
<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= homeLink %>"><img src="/img/uCasts.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="<%= episodeLink %>">Episodes</a>
        </li>
        <li class="page-scroll">
          <a href="<%= reviewLink %>">Reviews</a>
        </li>
        <li class="page-scroll">
          <a href="<%= tipLink %>">Tips</a>
        </li>
        <li class="page-scroll">
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>