<!DOCTYPE html>
<html lang="en">

<%-  partial('_partial/head') %>

<body id="page-top" class="index">
    <%-  partial('_partial/topnav') %>

    <%- body %>

    <%- partial('_partial/footer') %>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.js"></script>

  </body>
</html>