<%- partial('_partial/head') %>
  <body id="page-top" class="index">
    <%- partial('_partial/nav', null, {cache: !config.relative_link}) %>

    <%- body %>

    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.js"></script>

  </body>
</html>